
[v-cloak] {
    display: none;
}

body {
    font-family: "sans";
    padding: 0;
    margin: 0;
}

html { overflow-y: auto !important; }

#button-container {
    bottom: 15px;
    right: 10px;
    position: fixed;
    z-index: 1;
}

#button-inner {
    padding: 0em;
}

.log-box {
    padding: 1em;
    margin: 1em;
    background: white;
    border: 1px solid #d2d2d2;
    box-shadow: 0 0 10px #d2d2d2;
}

#addBtn {
    display: block;
}

.log-box > .log-box-boxtitle {
    font-weight: bold;
    padding-top: 1em;
}

.log-box > input {
    display: block;
    border: 1px solid #d2d2d2;
}

.log-box > button {
    margin-top: 1em;
}

#page-body {
}

#page-body > h1 {
    text-align: right;
    padding: 1em;
    background-color: #ff478a;
    color: white;
    font-weight: bold;
}

.faded {
    color: rgba(255,255,255,.4);
}

.log-data {
    margin: 1em;
}

.log-tags {
}

.tag-badge {
    border: 1px solid lightgray;
    padding: .1em .4em .1em .4em;
    border-radius: 2px;
    margin-right: .2em;
    color: #888;
    line-height: 1.5;
}

.log-data-wide {
    width: 100%;
    height: 4.5em;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.log-card {
    padding: 0 !important;
    line-height: 1;
}

.log-data-time-minutes {
    width: 2px;
    overflow: hidden;
    display: inline-block;
    background-color: #2196f3;
    font-size: 3em;
    align-self: flex-end;
    margin-right: .3em;
}

.headline {
    flex-direction: column;
}

.log-data-time {
    background-color: #444;
    height: 1.5em;
    border-radius: 2px 0 0 2px;
    font-size: 3em;
    padding: .2em .3em .2em .3em;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.log-info {
    overflow-x: auto;
    overflow-y: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.ct-chart {
    height: 100vw;
}

.ct-label {
    font-size: 1.5em !important;
}
