
body {
    font-family: "sans";
    padding: 0;
    margin: 0;
}

html { overflow-y: auto !important; }

#button-container {
    bottom: 15px;
    right: 10px;
    position: fixed;
    z-index: 1;
}

#button-inner {
    padding: 0em;
}

.log-box {
    padding: 1em;
    margin: 1em;
    background: white;
    border: 1px solid #d2d2d2;
    box-shadow: 0 0 10px #d2d2d2;
}

#addBtn {
    display: block;
}

.log-box > .log-box-boxtitle {
    font-weight: bold;
    padding-top: 1em;
}

.log-box > input {
    display: block;
    border: 1px solid #d2d2d2;
}

.log-box > button {
    margin-top: 1em;
}

#page-body {
}

#page-body > h1 {
    padding: 1em;
    background-color: #ff478a;
    color: white;
    font-weight: bold;
    text-align: right;
}

.faded {
    color: rgba(255,255,255,.4);
}

.log-data {
    margin: 1em;
}

.log-tags {
    font-style: italic;
}
