<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="icon.png">
	<link rel="apple-touch-icon" href="icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<title>Lifetime: Today</title>
	<style>
	</style>

    <link href="log.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://underscorejs.org/underscore-min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>

	<script src="time.js"></script>
	<script src="db.js"></script>
  </head>
  <body>
	<div id="app" v-cloak>
      <v-app>
        <v-content>
          <div id="button-container">
            <div id="button-inner">
              <log-button></log-button>
            </div>
          </div>
          <div id="page-body">
            <h1 class="display-1">Today <span class="faded">今日</span></h1>
            <div class="ct-chart"></div>
            <v-card v-for="item in items" class="log-data">
              <v-card-title primary-title class="log-card">
                <div class="log-data-wide">
                  <div class="log-data-time"><span>{{Math.floor(item.minutes / 60)}}</span></div>
                  <div class="log-data-time-minutes" :style="'height: ' + Math.round(item.minutes % 60 / 60 * 100).toString() + '%;'"></div>
                  <div class="asdf">
                    <h3 class="headline">{{item.acttype}}</h3>
                    <div class="log-tags"><span class="tag-badge" v-for="tag in item.tags">{{tag}}</span> </div>
                  </div>
                </div>
              </v-card-title>
            </v-card>
          </div>
        </v-content>
      </v-app>
	</div>
	<script src="logbutton.js"></script>
	<script src="today.js"></script>
  </body>
</html>
